# Laravel-specific files
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production

# PHPUnit
.phpunit.result.cache
/.phpunit.cache

# Editor-specific directories
/.idea
/.vscode
/.fleet
/.zed

# Homestead-specific files
Homestead.json
Homestead.yaml

# Composer
composer.phar
auth.json

# NPM/Yarn
npm-debug.log
yarn-error.log

# PHP Actor configuration
.phpactor.json
